<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--configSections>
		<section name="CommunicationSettings" type="com.Tools.WcfHosting.ConfigurationSectionHandler, WcfHosting" />
	</configSections-->
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Db" connectionString="Data Source=AtroposData.sqlite;Version=3" providerName="SQLite" />
	</connectionStrings>
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.194" newVersion="4.2.0.194" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<!--CommunicationSettings Type="com.Tools.WcfHosting.CommunicationSettings, WcfHosting">
		<Host address="net.pipe://localhost/atropos" binding="atropos_binding" />
	</CommunicationSettings-->
	<system.serviceModel>
		<bindings>
			<netNamedPipeBinding>
				<binding name="atropos_binding"/>
			</netNamedPipeBinding>
		</bindings>
	</system.serviceModel>
</configuration>