<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="linq2db" version="2.6.4" targetFramework="net472" />
  <package id="linq2db.SQLite" version="2.6.4" targetFramework="net472" />
  <package id="NLog" version="4.5.11" targetFramework="net472" />
  <package id="NLog.Config" version="4.5.11" targetFramework="net472" />
  <package id="NLog.IndentException" version="0.1.6" targetFramework="net472" />
  <package id="NLog.Schema" version="4.5.11" targetFramework="net472" />
  <package id="StructureMap" version="4.7.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
  <package id="Topshelf" version="4.2.0" targetFramework="net472" />
  <package id="Topshelf.LibLog" version="1.2.0" targetFramework="net472" />
</packages>