<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="TestDB" connectionString="Data Source=TestData.sqlite" providerName="SQLite" />
	</connectionStrings>
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.194" newVersion="4.2.0.194" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>