<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CommunicationSettings" type="com.Tools.WcfHosting.ConfigurationSectionHandler, WcfHosting" />
	</configSections>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<CommunicationSettings Type="com.Tools.WcfHosting.CommunicationSettings, WcfHosting">
		<Host address="net.pipe://localhost/atropos" />
	</CommunicationSettings>

</configuration>