<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="settings" type="Nerdle.AutoConfig.Section, Nerdle.AutoConfig" />
	</configSections>	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<settings>
		<connection port="12345"/>
	</settings>
</configuration>